@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: Poppins;
}


h3,h5{
  margin: 0;
}

div.detection {
	display: flex;
	justify-content: center;
	/* -webkit-transform: scaleX(-1);
	transform: scaleX(-1); */
  
	background-color: black;
	color: white;
}
video {
  position: relative;
  height: 100%;
  width: 100%;
	/* border-radius: 350px; */
	/* box-shadow: 0 5px 25px rgba(119, 151, 255, 0.685); */
}

canvas {
	position: absolute;
  height: 100%;
  width: 100%;
}



/* BASIC BODY CONTAINER CSS */

.pageContainer{
  
  width: 100vw;
  /* height: 100vh; */
  min-height: 100vh;
  background-color: #29313c;
  position: absolute;
  justify-content: center;
  flex-direction: column;
}



.bodyContainer{
  display: flex;
  min-height: 90vh;
  justify-content: center;
  align-items: center;
}

/* BASIC BODY CONTAINER CSS */


/* HEADER FOOTER CSS */

.headerContainer{
  color: whitesmoke;
  height: 5%;
  display: flex;
  flex-direction: row;
  padding: 0 1.2em;
  justify-content: space-between;
  align-items: center;
}


.logo{
  height: 2.5em;

}

.logoTxt{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}




.footerContainer{
  color: whitesmoke;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HEADER FOOTER CSS */


/* FORM CSS */

.formContainer{
  /* min-height:100vh; */
  width: 100%;
}

form{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.inputBox{
  position: relative;
  margin-bottom: 2em ;
  width: 60%;
  color: white;
  
}

.formContainer:last-child input[type='file']{
  border: none;
  outline: none;
  padding: 0;
  color: whitesmoke;
}

/* .bodyContainer >.enrollContainer{
  min-height:100vh
} */

.formContainer.enrollContainer{
  padding:0;
  min-height:100vh
}

.enrollContainer{
  padding:0;
  position:relative;
  top:50px;
  min-height:100vh;
}

/* FORM CSS */


/* canvas {
  position: absolute;
  top: 0;
  left: 0;
} */